@model List<Pizza>
<div class="container-fluid text-center pizze_index">
    <div class="row justify-content-between align-items-center g-4">
        @foreach (Pizza pizza in Model)
        {
            <div class="col">
                <div class="pizza_card">
                    <a href="@Url.Action("Detail",new {id = pizza.Id})"><img src="@pizza.Image" /></a>
                    @{
                        int count = new Random().Next(1, 6);
                    }
                    <span>
                        @for (int i = 0; i < count; i++)
                        {
                            <i class="fa-solid fa-star"></i>    
                        }
                    </span>
                    <span class="line" />
                    <h3>@pizza.Title</h3>
                    <p><span class="price">$@pizza.Price</span></p>
                    <a href="@Url.Action("Detail",new {id = pizza.Id})" class="btn btn-danger">Visualizza dettagli</a>
                </div>
            </div>  
        }
    </div>
</div>